@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.signup-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #4caf50;
    display: block;
}

h1 {
    color: white; /* Warna font h1 menjadi putih */
}
