<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="css/M.png" type="image/png">
</head>
<body>

    <div class="container">
        <h1>Login</h1>

        <form action="/login" method="post" class="login-form">
            <div class="form-group">
                <input placeholder="Name" name="name" type="text">
            </div>
            <div class="form-group">
                <input placeholder="Password" name="password" type="password">
            </div>
            <div class="form-group">
                <input class="sub" type="submit">
            </div>
            <div class="form-group">
                <h3>Don't have an account?</h3>
                <a href="/signup">Create a new account</a>
            </div>
        </form>
    </div>

</body>
</html>
